/*Navigation*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/*Body*/


.hero{
    min-height: calc(100vh - 60px);
    background-image: url("./traveling-background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 70px 50px;
}

.herotext{
    position: relative;
    z-index: 1;
    max-width: 650px;
    padding: 40px;
    color: white;
}

.herotext h1 {
    font-size: 70px;
    margin-bottom: 25px;
}

.herotext p {
    font-size: 20px;
    line-height: 1.6;
}

.about-box{
    max-width: 700px;
    line-height: 1.6;
    margin-bottom: 60px;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    padding: 70px 50px;
}

.content h1 {
    font-size: 60px;
}

.team-section {
    display: flex;
    align-items: center;
    gap: 80px;
}

.team-title h2 {
    color: white;
    font-size: 60px;
    line-height: 1;
}

.team{
    display: flex;
    gap: 60px;
}

.role{
    display: inline-block;
    margin-top: 15px;
    padding: 5px 12px;
    background: #2f6fd5;
    border-radius: 4px;
    font-size: 13px;
}

.contactform{
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    color: white;
}

.contact-layout{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
    width: 100%;
    min-height: calc(100vh - 140px);
}

.contactform form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactform input,
.contactform textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#contactBtn {
    padding: 12px;
    background: #2f6fd5;
    color: white;
    border: none;
    border-radius: 5px;
}