/*Navigation*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/*Body*/

body{
    margin: 0;
}

.hero {
    min-height: calc(100vh - 60px);
    background-image: url("./traveling-background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

}

.about h1{
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}

.about-box{
    max-width: 900px;
    padding: 20px;
    color: white;
}

.herotext {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    max-width: 500px;
    color: white;
}

.team{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.team h2{
    color: white;
    font-size: 48px;
}

.team-box{
    display: flex;
    gap: 30px;
}

.member{
    width: 220px;
    padding: 20px;
    color: white;
    border-radius: 8px;
}